{% if data or is_admin %}

  {% if configuration.block_key %}
    {% set block_id = configuration.block_key|split('-') %}
    {% set block_id = block_id[0] %}
  {% endif %}
  {% if block_id is not defined %}
    {% set block_id = random(100,1000) %}
  {% endif %}
	<div class="col-12 md-12 sm-12">

		<div class="title-block title-block--home-page">
				<h3>{{ info.label |t}}</h3>
		</div>
		<!--/title-block title-block--home-page-->
		<div class="tabs tabs--underline sm-hide" data-plugin="tabs">
      {% if data|length > 1 %}
      <ul class="tabs__navigation tabs__navigation-column" role="tablist" aria-label="{{"Study times"|t}}">
          {% for key,place in data  %}
            <li class="tabs__nav-item {% if loop.index == 1 %} active {% endif %}">
              <button class="btn btn-tab" id="tab-item-{{ block_id }}{{ key }}" role="tab" aria-selected="{%if loop.first%}true{%else%}false{%endif%}" aria-controls="tab-content-{{ block_id }}{{ key }}">{{ place.name }}</button>
            </li>
            <!--/tabs__nav-item-->
          {% endfor %}
			</ul>
      {% endif %}
      <!--/tabs__navigation-->
			<div class="tabs__panels">
				{% for key,place in data  %}
					<div class="tabs__panel" {% if loop.index > 1 %} hidden {% endif %} id="tab-content-{{ block_id }}{{ key}}" role="tabpanel" tabindex="0" aria-labelledby="tab-item-{{ block_id }}{{ key }}">
						<div class="table-wrapper" data-plugin="tableScroll">
							<div class="table-scrollable">
								<table class="lesson-plan">
									<thead>
										<tr>
											{% for group in place|without(['count','name'])  %}
												<th>{{ group.name }}</th>
											{% endfor %}
										</tr>
									</thead>
									<tbody>

                  {%set lunch_times_new = [] %}
                  {% for new_group_key,new_group in place|without(['name','count'])  %}
                    {% set lunch_times_new = lunch_times_new|merge({(new_group_key~"lunch"):0})%}
                  {%endfor%}
										{% for i in 0..place.count-1  %}
                      {% set lunch_times = 0%}

											<tr>
												{% for new_group_key,new_group in place|without(['name','count'])  %}
                          <td>
														{% if new_group.day.hours[i] %}
															{% set day_info = new_group.day.hours[i] %}
															{% if day_info.type=="lunch" %}
                                {% set old_lunch_val = lunch_times_new[new_group_key~"lunch"] %}
                                {% set old_lunch_val = old_lunch_val + 1%}
                                {% set lunch_times_new = lunch_times_new|merge({(new_group_key~"lunch"):old_lunch_val})%}
                                {% set lunch_times = lunch_times + 1%}
																<i class="mdi mdi-silverware-fork-knife" aria-hidden="true">
																</i>

                                <span class="sr-only">{{ "lunch"|t}}</span>
															{% else %}
                                {% set display_nr = i + 1%}
                                {% if lunch_times_new[new_group_key~"lunch"] > 0 %}
                                  {% set display_nr = display_nr - lunch_times_new[new_group_key~"lunch"]%}
                                {% endif %}
																{{display_nr }}{{ ". " }}
															{% endif %}

															{{ day_info.open }}
															{{ " - " }}
															{{ day_info.close }}
														{% endif %}

													</td>
												{% endfor %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<!--/lesson-plan-->
							</div>
							<!--/table-scrollable-->
						</div>
						<!--/table-wrapper-->
					</div>
					<!--/tabs__panel-->
				{% endfor %}
			</div>
			<!--/tabs__panels-->
		</div>
		<!--/tabs-->

		<div class="form-item custom-select md-hide xl-hide">

      <label for="tabs-select{{ block_id }}{{ key }}" class="form-label">
        <span class="sr-only">{{ "Choose location"|t }}</span>
      </label>
      {% if data|length>1 %}
        <select name="input-3671" data-changeaccordion="location" data-tab-panel="tab-content-{{ block_id }}{{ key }}" id="tabs-select{{ block_id }}{{ key }}" data-plugin="selectTwo">
          {% for key,location in data %}
            <option value="{{ block_id }}{{key}}"{% if loop.first %} selected {% endif %}>{{location.name}}</option>
          {% endfor %}
        </select>
      {% endif %}
		</div>

		<div class="accordion accordion--lesson-plan" data-plugin="accordion">
			{% for key,location in data %}
				{% set display_accordion = false %}
				{% if loop.first %}
					{% set display_accordion = true %}
				{% endif %}

				{% for group_key,group in location|without('name','count') %}
					<div class="accordion__item {% if loop.first%}active{%endif%}" data-location="{{ block_id }}{{key}}" style="{% if display_accordion %}display:block{% else %}display:none{% endif %} ">
						<h3 class="accordion__title">
							<button id="{{group_key}}" class="btn btn-accordion" aria-expanded="{%if loop.first%}true{%else%}false{%endif%}" aria-controls="{{group_key}}">
								<i class="mdi mdi-chevron-down" aria-hidden="true"></i>
								<span class="btn-label">{{group.name}}</span>
							</button>
							<!--/btn-accordion-->
						</h3>
						<!--/accordion__title-->
						<div id="{{group_key}}" class="accordion__content" aria-labelledby="{{group_key}}" role="region">
							<div class="accordion__content--body">
								<ul>
                  {% set lunch_times = 0%}
									{% for i in 0..location.count-1  %}
										<li>

											{% if group.day.hours[i] %}
												{% set day_info = group.day.hours[i] %}
												{% if day_info.type=="lunch" %}
                          {% set lunch_times = lunch_times + 1%}
													<i class="mdi mdi-silverware-fork-knife" aria-hidden="true">
													</i>
                          <span class="sr-only">{{ "lunch"|t}}</span>
												{% else %}
                          {% set display_nr = i + 1%}
                          {% if lunch_times > 0 %}
                            {% set display_nr = display_nr - lunch_times%}
                          {% endif %}
                          {{display_nr }}{{ ". " }}
												{% endif %}

												{{ day_info.open }}
												{{ " - " }}
												{{ day_info.close }}
											{% endif %}


										</li>
									{% endfor %}
								</ul>
							</div>
							<!--/accordion__content--body-->
						</div>
						<!--/accordion__content-->
					</div>
					<!--/accordion__item-->
				{% endfor %}

			{% endfor %}
		</div>
		<div class="row-spacer-24 xl-hide"></div>
		<div class="row-spacer-40 sm-hide md-hide"></div>
		{% if info.link %}
			{% if info.link_title %}
				<a href="{{ info.link }}" class=" btn btn-secondary btn-show-more">{{ info.link_title }}</a>
			{% endif %}
		{% endif %}
	</div>

{% endif %}
