{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'content-block',
  ]
%}
{% set col_classes = 'col-12 md-12 sm-12' %}
{% if node.field_one_image.0 is not empty or node.field_juhan_image_link.uri is not empty or node.field_juhan_esf.value == 1 %}
  {% set col_classes = 'col-8 md-8 sm-12' %}
{% endif %}
<article {{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="{{ col_classes }}">

      <div class="event-card event-card--detail">
        {% if not node.field_all_day.value or node.field_price.value is not empty %}
          <div class="event-time-price">
            {% if not node.field_all_day.value %}
              <span>
                <i class="mdi mdi-clock-outline" aria-hidden="true"></i>
                <span class="sr-only">{{ "Time"|t }}</span>
                {% if node.field_event_end_time.value is not empty %}
                  {{ start_time }} - {{ end_time }}
                {% else %}
                  {{ start_time }}
                {% endif %}
              </span>
            {% endif %}
            {% if node.field_price.value is not empty %}
              <span><i class="mdi mdi-currency-eur" aria-hidden="true"></i><span class="sr-only">{{ "Price"|t }}</span>{{ node.field_price.value }}</span>
            {% endif %}
          </div><!--/event-time-price-->
        {% endif %}

        {% if node.field_venue.value is not empty %}
          <span class="event-location">
            <i class="mdi mdi-map-marker" aria-hidden="true"></i>
            <span class="sr-only">{{ "Location"|t }}</span>
            {{ node.field_venue.value }}
          </span>
        {% endif %}
        {% if node.field_event_keywords is not empty or node.field_training_keywords is not empty %}
          <ul class="event-tags">
            {% if node.field_event_keywords is not empty %}
              {% for tags in node.field_event_keywords %}
                {% if tags.entity.tid.0.value != 0 %}
                  <li><a href="/calendar/events?event_type[{{ tags.entity.tid.value }}]={{ tags.entity.tid.value }}">{{ tags.entity.name.value }}</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if node.field_training_keywords is not empty %}
              {% for tags in node.field_training_keywords %}
                {% if tags.entity.tid.0.value != 0 %}
                  <li><a href="/calendar/training?event_type[{{ tags.entity.tid.value }}]={{ tags.entity.tid.value }}">{{ tags.entity.name.value }}</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul><!--/event-tags-->
        {% endif %}
      </div><!--/event-info-header-->

      <div class="event-side-block sm-show">
        <div class="image-block">
          {% if node.field_juhan_image_link.uri is not empty %}
            <a id="juhan_dt" class="image-field image-field--landscape" alt="" aria-label="{{ "Image, opens in modal"|t }}" data-bigPicture="{{ node.field_juhan_image_link.uri }}" data-image="{{ node.field_juhan_image_link.uri }}" style="height: 100%; padding-top: unset" tabindex="0" data-plugin="modalOpener" data-modal="single" title="{{ node.getTitle() }}">
              <img src="{{ node.field_juhan_image_link.uri }}" alt="" aria-label="{{ "Image, opens in modal"|t }}" style="object-fit: contain; width: 100%; height: auto; position:relative; opacity:1;">
              <span class="gallery-icon">
              <i class="mdi mdi-image-multiple" aria-hidden="true"></i>
              <span class="sr-only">{{ 'Open picture'|t }}</span>
            </span>
            </a><!--/image-field-->
          {% else %}
            {{ content.field_one_image }}
          {% endif %}
        </div><!--/image-block-->

        {% if node.field_juhan_esf.value %}
          <span class="supporter-logo">
            <img src="/themes/custom/harno_theme/static/assets/images/ESF.jpg" alt="{{ "European union. European social fund. Investing in your future"|t }}">
          </span><!--/supporter-logo-->
        {% endif %}
      </div>

      <div class="event-detail-info">
        {% if node.body.value is not empty %}
          <div class="text-field">
            {{ node.body.value|raw }}
          </div>
        {% endif %}
        {% if node.field_webform.target_id is not empty %}
          <a href="{{ webform_path }}" class="btn btn-primary webform-dialog use-ajax" data-dialog-type="modal">{{ 'Register'|t }}</a>
        {% endif %}
        {% if node.field_juhan_training_url is not empty %}
          <a href="{{ node.field_juhan_training_url.uri }}" target="_blank" class="btn btn-primary">
            {{ "Additional information in Juhan"|t }}
            <i class="mdi mdi-open-in-new" aria-hidden="true"></i>
            <span class="sr-only">{{ 'Link will open on a new page'|t }}</span>
          </a>
        {% endif %}
      </div><!--/event-detail-info-->

      <div class="row-spacer-40"></div>

      {{ content.field_contact_block }}
      {% if content.field_contact_block['#items'] %}
        <div class="row-spacer-40"></div>
      {% endif %}
      {% if (node.field_event_type.value == 1) %}
        <a href="/calendar/training" class="btn btn-secondary btn-show-more">{{ 'Look more trainings' |t}}</a>
      {% else %}
        <a href="/calendar/events" class="btn btn-secondary btn-show-more">{{ 'Look more events' |t }}</a>
      {% endif %}

    </div><!--/col-8 md-12 sm-12-->
    {% if node.field_one_image.0 is not empty or node.field_juhan_image_link.uri is not empty or node.field_juhan_esf.value == 1 %}
      <div class="col-4 md-4 sm-12 sm-hide">
      <div class="image-block">
        {% if node.field_juhan_image_link.uri is not empty %}
{#        Gervin see on juhani taiendus ara ara kustuta ja muuda selliseks nagu Joelil#}
          <a id="juhan" class="image-field image-field--landscape" alt="" aria-label="{{ "Image, opens in modal"|t }}" data-bigPicture="{{ node.field_juhan_image_link.uri }}" data-image="{{ node.field_juhan_image_link.uri }}" style="height: 100%; padding-top: unset" tabindex="0" data-plugin="modalOpener" data-modal="single" title="{{ node.getTitle() }}">
            <img src="{{ node.field_juhan_image_link.uri }}"  alt="" aria-label="{{ "Image, opens in modal"|t }}" style="object-fit: contain; width: 100%; height: auto; position:relative; opacity:1;">
            <span class="gallery-icon">
              <i class="mdi mdi-image-multiple" aria-hidden="true"></i>
              <span class="sr-only">{{ 'Open picture'|t }}</span>
            </span>
          </a><!--/image-field-->
        {% else %}
          {{ content.field_one_image }}
        {% endif %}
      </div><!--/image-block-->

      {% if node.field_juhan_esf.value %}
        <span class="supporter-logo">
          <img src="/themes/custom/harno_theme/static/assets/images/ESF.jpg" alt="{{ "European union. European social fund. Investing in your future"|t }}">
        </span><!--/supporter-logo-->
      {% endif %}
    </div><!--/col-4 md-12 sm-12-->
    {% endif %}
  </div><!--/row-->

  <div class="row">
    <div class="col-12 md-12 sm-12">
      <div class="content-creating-info">
        <span>{{ "Published" | t}} {{ node.getCreatedTime|date('d.m.Y') }}.</span>
        <span>{{ "Last changed" |t}} {{ node.getChangedTime|date('d.m.Y') }}.</span>
      </div><!--/content-creating-info-->
    </div><!--/col-12 md-12 sm-12-->
  </div><!--/row-->
</article><!--/content-block-->
