{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.r
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<li class="bg-blue">
  <a href="#" aria-expanded="false">{{ 'Language'|trans }}:
    <strong>{{ current_language }}</strong>
  </a>
  <div class="main-menu-dropdown">
    <div class="focus-trap-first" tabindex="-1"></div>
    <ul class="dropdown-link-block">
      <li>
        <a href="#" class="back-to-menu" aria-label="{{ "Back to main menu" |t }}">
          <i class="mdi mdi-menu-down" aria-hidden="true"></i>
          {{ 'Language'|trans }}
        </a>
      </li>
      {% if content %}
        {% block content %}
          {{ content }}
        {% endblock %}
      {% endif %}
    </ul><!--/dropdown-link-block-->
    <div class="focus-trap-last" tabindex="-1"></div>
  </div><!--/main-menu-dropdown-->
</li>

