{% set base_path= base_path ~ directory  %}
<div class="row no-print">
  <div class="col-12 md-12 sm-12">

    <div class="header-block">
      <div class="header-block__title-block">
        <h1>{{ data.title }}</h1>
      </div><!--/__title-block-->
    </div><!--/header-block-->
    <article class="content-block">
      <div class="row">
        {% for news_block in data.items  %}
          {% if news_block.image %}
            {% set media_image = drupal_image( news_block.image.target_id ,'thumbnail') %}
          {% endif %}

            {% set alt = '' %}
            {% if news_block.image.alt  %}
              {% set alt = news_block.image.alt %}
            {% endif %}
            {% set title = '' %}
            {% if news_block.image.title %}
              {% set title = news_block.image.title %}
            {% endif %}
          <div class="col-3 md-6 sm-12">
            <a href="{{ news_block.article_link }}" class="news-block">
              {% if news_block.sticky %}
                <div class="news-block__tag active">
                  <span>{{"Important"|t}}</span>
                </div>
              {% endif %}

              {% if news_block.tag %}
                <div class="news-block__tag">
                  <span>{{ news_block.tag }}</span>
                </div>
              {% endif %}

              <div class="news-block__thumbnail" style="background-image: url({{ media_image['#uri']|image_style("galleries_and_news") }});">
                <img src="/{{ base_path }}/static/assets/images/placeholder-1.gif" alt="{{ alt }}">
              </div><!--/gallery-block__thumbnail-->
              <div class="news-block__news-info">
                <h3>{{news_block.title}}</h3>
                <div class="additional-info">
                  <span class="date-indicator">
                      <i class="mdi mdi-calendar-month" aria-hidden="true"></i>
											<span class="sr-only">{{ "Date created"|t }}</span>
										{{ news_block.created }}
									</span>
                  {% if news_block.author %}
                    <span class="author-indicator">
											<span class="sr-only">{{ "Author" |t }}</span>
											{{ news_block.author }}
										</span>
                  {% endif %}
                </div>
              </div><!--/gallery-block__gallery-info-->
            </a><!--/gallery-block-->
          </div><!--/col-3 md-6 sm-12-->
        {% endfor %}
        <div class="col-12 md-12 sm-12">
          <a href="{{ data.link }}" class="btn btn-secondary btn-more-news">{{ data.link_name }}</a>
        </div>
      </div>
    </article><!--/content-block-->
  </div>
</div><!--/row-->
