{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div class="block">
  <div class="block-title">
    <h4>{{ "Important contacts" | t}}</h4>
  </div><!--/block-title-->
  {% if data %}
    <ul class="contacts important">
      {% for important_contact in data %}
        <li>
          <span>{{important_contact.name}}</span>
          {% if important_contact.type=='link' %}
            <a class="btn btn-link in-new bold" target="_blank" href="{{important_contact.body}}"><span class="bold">{{important_contact.body}}</span></a>
          {% elseif important_contact.type == 'email' %}
            <a class="btn btn-link" href="mailto:{{important_contact.body}}">
              <span class="bold">{{important_contact.body}}
              </span></a>
          {% else %}
            <span class="bold">{{important_contact.body |raw}}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul><!--/contacts-->
  {% endif %}
</div><!--/block-->
